// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

$color-primary: #00a3ff;
$color-primary-alta: #212e48;
$color-gray: #f6f6f6;
$color-gray-2: #f5f8fa;
$color-subtitle: #f9004d;
$background-color-1: rgba(36,36,53,0.3411764705882353);
$background-color-2: #13131d;
$background-color-3: #151521;
$background-color-4: #242435;
$gradient-one: linear-gradient(to right bottom,#2899d8,#00a3ff);
$color-heading: #fff;
$color-body: #acacac;
$color-dark: #1d1d1d;
$color-light-heading: #181c32;
$color-light-body: #65676b;
$color-border-white: rgba(0,0,0,0.1411764705882353);
$color-midgray: #878787;
$color-light: #e4e6ea;
$color-lighter: #ced0d4;
$color-lightest: #f0f2f5;
$color-border: hsla(0,0%,100%,0.0784313725490196);
$color-white: #fff;
$color-white-75: hsla(0,0%,100%,0.75);
$color-success: #3eb75e;
$color-danger: #ff0003;
$color-warning: #ff8f3c;
$color-info: #1ba2db;
$color-facebook: #3b5997;
$color-twitter: #1ba1f2;
$color-youtube: #ed4141;
$color-linkedin: #0077b5;
$color-pinterest: #e60022;
$color-instagram: #c231a1;
$color-vimeo: #00adef;
$color-twitch: #6441a3;
$color-discord: #7289da;
$p-light: 300;
$p-regular: 400;
$p-medium: 500;
$p-semi-bold: 600;
$p-bold: 700;
$p-extra-bold: 800;
$p-black: 900;
$s-light: 300;
$s-regular: 400;
$s-medium: 500;
$s-semi-bold: 600;
$s-bold: 700;
$s-extra-bold: 800;
$s-black: 900;
$transition: 0.4s;
$font-primary: "Roboto",sans-serif;
$font-secondary: "Roboto",sans-serif;
$font-size-b1: 14px;
$font-size-b2: 18px;
$font-size-b3: 22px;
$line-height-b1: 1.50;
$line-height-b2: 1.6;
$line-height-b3: 1.7;
$h1: 50px;
$h2: 36px;
$h3: 32px;
$h4: 26px;
$h5: 22px;
$h6: 20px;
$bs-blue: #0d6efd;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #d63384;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #198754;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-white: #fff;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-gray-100: #f8f9fa;
$bs-gray-200: #e9ecef;
$bs-gray-300: #dee2e6;
$bs-gray-400: #ced4da;
$bs-gray-500: #adb5bd;
$bs-gray-600: #6c757d;
$bs-gray-700: #495057;
$bs-gray-800: #343a40;
$bs-gray-900: #212529;
$bs-primary: #0d6efd;
$bs-secondary: #6c757d;
$bs-success: #198754;
$bs-info: #0dcaf0;
$bs-warning: #ffc107;
$bs-danger: #dc3545;
$bs-light: #f8f9fa;
$bs-dark: #212529;
$bs-primary-rgb: 13,110,253;
$bs-secondary-rgb: 108,117,125;
$bs-success-rgb: 25,135,84;
$bs-info-rgb: 13,202,240;
$bs-warning-rgb: 255,193,7;
$bs-danger-rgb: 220,53,69;
$bs-light-rgb: 248,249,250;
$bs-dark-rgb: 33,37,41;
$bs-white-rgb: 255,255,255;
$bs-black-rgb: 0,0,0;
$bs-body-color-rgb: 33,37,41;
$bs-body-bg-rgb: 255,255,255;
$bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
$bs-body-font-family: var($bs-font-sans-serif);
$bs-body-font-size: 1rem;
$bs-body-font-weight: 400;
$bs-body-line-height: 1.5;
$bs-body-color: #212529;
$bs-body-bg: #fff;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
